.navbar {
  width: 100vw;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0px;

    li {
      list-style-type: none;
      display: inline-block;
      height: 80px;
      width: 33%;

      a {
        color: #e2e2e2;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        height: calc(100% - 3px);
        width: 100%;
        border-top: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        display: block;
        padding-top: 28px;
        transition: 0.3s ease background-color;

        &:hover {
          background: #131726;
        }
      }
    }
  }
}