.back {
  position: absolute;
  top: 32px;
  left: 40px;
  z-index: 10;
}

.position-btn {
  appearance: none;
  background: none;
  border: none;
  display: inline;
  margin: 8px 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.selector__div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.center-div__editor {
  width: 310px;
}

.selector__content--inner {
  animation: fadeInLeft 0.3s forwards;
}

.player-form {
  text-align: left;

  label {
    padding-bottom: 10px;
    color: #e2e2e2;
    text-transform: uppercase;
  }

  select {
    background: transparent;
    border: 1px solid #e2e2e2;
    color: #e2e2e2;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 80%;
    margin: 0 auto;
    width: 100%;
  }
}

.select-wrapper {
  margin: 12px 0;
}

.hide-btn {
  appearance: none;

  &:focus {
    outline: none;
  }
}
