.App {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
}

.active {
  border-top: 10px solid #fa541f !important;
  transform: translateY(9px);
  background: #131726;
}
